<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jbell.facility.mapper.FacilityMapper">


	<!-- 시설 상세조회 -->
	<select id="getFacilityById"
		resultType="jbell.facility.dto.FacilityDTO">
		SELECT
        f.fclt_id AS fcltId,
        f.fclt_nm AS fcltNm,
        f.fclt_se_cd AS fcltSeCd,
        f.ctpv_nm AS ctpvNm,
        COALESCE(c.code_item_name, f.sgg_nm) AS sggNm, 
        f.road_nm_addr AS roadNmAddr,
        f.lat,
        f.lot,
        f.opn_yn AS opnYn,
        f.use_yn AS useYn,
        f.fclt_area AS fcltArea,
        f.fclt_capacity AS fcltCapacity,
        f.reg_dt AS regDt
    FROM ofsafe_facility f
    LEFT JOIN code_item c ON f.sgg_nm = c.code_item_id AND c.code_group_id = 'AREA_JB'
    WHERE f.fclt_id = #{fcltId}
</select>

	<!-- 시설 등록 -->
	<insert id="insertFacility"
		parameterType="jbell.facility.dto.FacilityDTO">
		INSERT INTO ofsafe_facility (
		fclt_nm, fclt_se_cd, ctpv_nm, sgg_nm,
		road_nm_addr, lat, lot, opn_yn, use_yn,
		fclt_area, fclt_capacity
		) VALUES (
		#{fcltNm}, #{fcltSeCd}, #{ctpvNm}, #{sggNm},
		#{roadNmAddr}, #{lat}, #{lot}, #{opnYn}, #{useYn},
		#{fcltArea}, #{fcltCapacity}
		)
	</insert>

	<!-- 시설 상세수정 -->
	<update id="updateFacility"
		parameterType="jbell.facility.dto.FacilityDTO">
		UPDATE ofsafe_facility
		SET
		fclt_nm = #{fcltNm},
		fclt_se_cd = #{fcltSeCd},
		ctpv_nm = #{ctpvNm},
		sgg_nm = #{sggNm},
		road_nm_addr = #{roadNmAddr},
		lat = #{lat},
		lot = #{lot},
		opn_yn = #{opnYn},
		use_yn = #{useYn},
		fclt_area = #{fcltArea},
		fclt_capacity = #{fcltCapacity}
		WHERE fclt_id = #{fcltId}
	</update>

	<!-- 시설 삭제 -->
	<delete id="deleteFacilities" parameterType="list">
		DELETE FROM ofsafe_facility
		WHERE fclt_id IN
		<foreach item="id" collection="list" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>



	<!-- 시설 검색및 조회 -->
	<select id="getFacilityList" resultType="jbell.facility.dto.FacilityDTO">
    SELECT
        f.fclt_id as fcltId,
        f.fclt_nm as fcltNm,
        f.fclt_se_cd as fcltSeCd,
        f.ctpv_nm as ctpvNm,
        COALESCE(c.code_item_name, f.sgg_nm) AS sggNm, -- 여기서 글자로 변환
        f.road_nm_addr as roadNmAddr,
        f.lat,
        f.lot,
        f.fclt_area as fcltArea,
        f.fclt_capacity as fcltCapacity,
        f.opn_yn as opnYn,
        f.use_yn as useYn,
        f.reg_dt as regDt,
        <choose>
            <when test="userLat != null and userLot != null">
                (6371 * acos(cos(radians(#{userLat})) * cos(radians(f.lat)) * cos(radians(f.lot) - radians(#{userLot})) + sin(radians(#{userLat})) * sin(radians(f.lat))))
            </when>
            <otherwise>0</otherwise>
        </choose> AS distance
    FROM ofsafe_facility f
    LEFT JOIN code_item c ON f.sgg_nm = c.code_item_id AND c.code_group_id = 'AREA_JB'
    <where>
        <if test="sggNm != null and sggNm != ''">
            AND (f.sgg_nm = #{sggNm} OR c.code_item_name LIKE CONCAT('%', #{sggNm}, '%'))
        </if>
        <if test="fcltSeCd != null and fcltSeCd != ''">
            AND f.fclt_se_cd = #{fcltSeCd}
        </if>
        <if test="(roadNmAddr != null and roadNmAddr != '') or (fcltNm != null and fcltNm != '')">
            AND (
                <if test="roadNmAddr != null and roadNmAddr != ''">
                    f.road_nm_addr LIKE CONCAT('%', #{roadNmAddr}, '%')
                </if>
                <if test="(roadNmAddr != null and roadNmAddr != '') and (fcltNm != null and fcltNm != '')">
                    OR
                </if>
                <if test="fcltNm != null and fcltNm != ''">
                    f.fclt_nm LIKE CONCAT('%', #{fcltNm}, '%')
                </if>
            )
        </if>
    </where>
    ORDER BY 
    <choose>
        <when test="userLat != null and userLot != null">
            distance ASC
        </when>
        <otherwise>
            <if test="sortKey != null and sortKey != ''">
                f.${sortKey} ${sortOrder}
            </if>
            <if test="sortKey == null or sortKey == ''">
                f.fclt_id DESC
            </if>
        </otherwise>
    </choose>
    LIMIT #{limit} OFFSET #{offset}
</select>


	<select id="getFacilityCount" resultType="int">
		SELECT COUNT(*)
		FROM ofsafe_facility
		<where>
			<if test="roadNmAddr != null and roadNmAddr != ''">
				AND road_nm_addr LIKE CONCAT('%', #{roadNmAddr}, '%')
			</if>
			<if test="sggNm != null and sggNm != ''">
				AND sgg_nm LIKE CONCAT('%', #{sggNm}, '%')
			</if>
			<if test="fcltNm != null and fcltNm != ''">
				AND fclt_nm LIKE CONCAT('%', #{fcltNm}, '%')
			</if>
		</where>
	</select>







	<!-- api 자동 등록및 업데이트 -->
	<insert id="upsertFacility" parameterType="java.util.List">
		INSERT INTO ofsafe_facility (
		fclt_nm,
		fclt_se_cd,
		ctpv_nm,
		sgg_nm,
		road_nm_addr,
		lat,
		lot,
		opn_yn,
		use_yn,
		fclt_area,
		fclt_capacity,
		reg_dt
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.fcltNm},
			#{item.fcltSeCd},
			#{item.ctpvNm},
			#{item.sggNm},
			#{item.roadNmAddr},
			#{item.lat},
			#{item.lot},
			COALESCE(#{item.opnYn}, 'Y'),
			'Y',
			#{item.fcltArea},
			#{item.fcltCapacity},
			NOW()
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
		fclt_se_cd = VALUES(fclt_se_cd),
		ctpv_nm = VALUES(ctpv_nm),
		sgg_nm = VALUES(sgg_nm),
		road_nm_addr = VALUES(road_nm_addr),
		lat = VALUES(lat),
		lot = VALUES(lot),
		opn_yn = VALUES(opn_yn),
		fclt_area = VALUES(fclt_area),
		fclt_capacity = VALUES(fclt_capacity),
		reg_dt = NOW()
	</insert>
</mapper>