<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jbell.auth.mapper.UserMapper"> 
		
		<select id="getRefreshToken" resultType="string">
		    SELECT refresh_token 
		    FROM user 
		    WHERE user_id = #{userId}
		</select>
		
		
		<update id="updateRefreshToken">
		    UPDATE user 
		    SET refresh_token = #{refreshToken} 
		    WHERE user_id = #{userId}
		</update>

	


	<select id="findByUserId" resultType="jbell.auth.domain.User">
	    SELECT 
	        user_id AS userId,
	        user_password AS userPw,
	        user_name AS userName,
	        user_birth_date AS userBirthDate,
	        user_email AS userEmail,
	        user_gender AS userGender,
	        user_grade AS userGrade,
	        user_residence_area AS userResidenceArea
	    FROM user
	    WHERE user_id = #{userId} AND user_status = TRUE
	</select>
	
	<select id="findIdByNameAndEmail" resultType="string">
	    SELECT user_id
	    FROM user
	    WHERE user_name = #{name} AND user_email = #{email}
	</select>
	
	<update id="updatePassword">
	    UPDATE user 
	    SET user_password = #{newPw} 
	    WHERE user_id = #{userId}
	</update>




	<insert id="insertUser" parameterType="jbell.auth.dto.SignupRequest">
    INSERT INTO user (
        user_id, 
        user_password, 
        user_name, 
        user_birth_date, 
        user_email, 
        user_gender, 
        user_status, 
        user_grade, 
        user_residence_area
    ) VALUES (
        #{userId}, 
        #{userPw}, 
        #{userName},        
        #{userBirthDate},   
        #{userEmail},       
        #{userGender}, 
        TRUE, 
        #{userGender}, 
        #{userResidenceArea} )
</insert>



    <select id="existsByUserId" parameterType="string" resultType="boolean">
    SELECT EXISTS (
        SELECT 1 
        FROM user 
        WHERE user_id = #{userId}
    )
	</select>

</mapper>