<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jbell.press.mapper.PressMapper">

    <insert id="insertContent" parameterType="jbell.press.dto.PressDTO" useGeneratedKeys="true" keyProperty="contentId">
        INSERT INTO content (
            title, body, visible_yn, content_type, content_link, 
            user_id, reg_type, source, created_at, last_update_date
        ) VALUES (
            #{title}, #{body}, #{visibleYn}, 'PR01', #{contentLink}, 
            #{userId}, COALESCE(#{regType}, '직접등록'), #{source}, NOW(), NOW()
        )
    </insert>

    <insert id="insertAttachment" parameterType="map">
        INSERT INTO attachment (
            content_id, file_name, file_real_name, file_ext, file_size, file_path, created_at
        ) VALUES (
            #{contentId}, #{fileName}, #{fileRealName}, #{fileExt}, #{fileSize}, #{filePath}, NOW()
        )
    </insert>
    
    <insert id="insertAttachmentList" parameterType="jbell.common.domain.AttachmentVO">
		/* 다중 파일 데이터 등록 */
		INSERT INTO attachment (
			 content_id, file_name, file_real_name, file_ext, file_size, file_path, created_at, file_type
		)VALUES
		<foreach collection="list" item="file" separator=",">
		( 
			 #{file.contentId}, #{file.fileName}, #{file.fileRealName}, #{file.fileExt}, #{file.fileSize}, #{file.filePath}, NOW(), 'ATTACH'
		)
		</foreach>
	</insert>
    
    <resultMap id="PressListMap" type="jbell.press.dto.PressDTO">
	    <id property="contentId" column="contentId"/>
	    <result property="title" column="title"/>
	    <result property="body" column="body"/>
	    <result property="visibleYn" column="visibleYn"/>
	    <result property="userId" column="userId"/>
	    <result property="userName" column="userName"/>
	    <result property="source" column="source"/>
	    <result property="regType" column="regType"/>
	    <result property="createdAt" column="createdAt"/>
	    <result property="fileCount" column="fileCount"/>
	    <collection property="fileList" column="{contentId=contentId}" select="getFileList" />
	</resultMap>
	
	<select id="getPressList" resultMap="PressListMap">
	   SELECT 
	        c.content_id as contentId,
	        c.title,
	        c.body,
	        c.visible_yn as visibleYn,
	        c.user_id as userId,
	        u.user_name as userName,
	        c.source,
	        c.reg_type as regType,
	        c.created_at as createdAt,
	        COUNT(a.file_id) as fileCount
	    FROM content c
	    LEFT JOIN attachment a ON c.content_id = a.content_id
	    LEFT JOIN user u ON c.user_id = u.user_id 
	    WHERE 
	    	c.content_type = 'PR01'
	    	<if test="roleType != null and roleType == 'user'">
	    		AND c.visible_yn = 'Y'
	    	</if>
	    	
	    	<if test="searchTerm != null and searchTerm != ''">
	    AND (
		        <choose>
		            <when test="searchCategory == '제목'">
		                c.title LIKE CONCAT('%', #{searchTerm}, '%')
		            </when>
		            <when test="searchCategory == '내용'">
		                c.body LIKE CONCAT('%', #{searchTerm}, '%')
		            </when>
		            <when test="searchCategory == '등록인'">
		                u.user_name LIKE CONCAT('%', #{searchTerm}, '%')
		            </when>
		            <otherwise>
		                (c.title LIKE CONCAT('%', #{searchTerm}, '%') OR c.body LIKE CONCAT('%', #{searchTerm}, '%'))
		            </otherwise>
		        </choose>
			    )
			</if>
        
	    GROUP BY 
	        c.content_id
	    ORDER BY createdAt DESC
	    <if test="limit != null and limit > 0">
	        LIMIT #{limit} OFFSET #{offset}
	    </if>
	</select>

    <select id="getPressById" resultType="jbell.press.dto.PressDTO">
        SELECT 
	        c.content_id as contentId,
	        c.title,
	        c.body,
	        c.visible_yn as visibleYn,
	        c.user_id as userId,
	        u.user_name as userName,
	        c.source,
	        c.reg_type as regType,
	        c.created_at as createdAt,
	        COUNT(a.file_id) as fileCount
	    FROM content c
	    LEFT JOIN attachment a ON c.content_id = a.content_id
	    LEFT JOIN user u ON c.user_id = u.user_id 
        WHERE 
        	c.content_id = #{contentId}
        GROUP BY 
	        c.content_id
    </select>

	<select id="getFileList" resultType="map">
	    SELECT 
	        file_id AS id,           
	        file_name AS name,       
	        file_real_name AS realName,   
	        file_path AS url,   
	        file_ext AS type,   
	        file_size AS size
	    FROM attachment
	    WHERE content_id = #{contentId}
	</select>
	
	<update id="updateContent" parameterType="jbell.press.dto.PressDTO">
	    UPDATE content
	    SET 
	        title = #{title},
	        body = #{body},
	        visible_yn = #{visibleYn},
	        source = #{source},
	        content_link = #{contentLink},
	        last_update_date = NOW()
	    WHERE content_id = #{contentId}
	</update>
	
	<delete id="deleteAttachmentsExcludeIds">
	    DELETE FROM attachment 
	    WHERE content_id = #{contentId}
	    <if test="existingIds != null and existingIds.size() > 0">
	        AND file_id NOT IN 
	        <foreach item="id" collection="existingIds" open="(" separator="," close=")">
	            #{id}
	        </foreach>
	    </if>
	</delete>
	
	<delete id="deleteAttachmentsByContentId" parameterType="long">
	    DELETE FROM attachment WHERE content_id = #{contentId}
	</delete>
	
	<delete id="deletePress" parameterType="list">
	    DELETE FROM content 
	    WHERE content_id IN 
	    <foreach item="id" collection="list" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</delete>

</mapper>